
<hr>
<div *ngIf="farmerDetails" class="container bootstrap snippet">
  <div class="row" [hidden]="loading">
    <div class="col-sm-10"><h1>{{farmerDetails?.firstName +" "+farmerDetails?.lastName}}</h1></div>
    <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive"  src="http://www.rlsandbox.com/img/profile.jpg"></a></div>

  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3"><!--left col-->
      
      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>First Name</strong></span> <span class="pull-right_details">{{farmerDetails?.firstName}}</span> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last Name</strong></span> <span class="pull-right_details">{{farmerDetails?.lastName}}</span> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Country</strong></span> <span class="pull-right_details">{{farmerDetails?.countryOfResidence}}</span></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> <span class="pull-right_details"></span></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span><span class="pull-right_details">{{farmerDetails?.phoneNumber}}</span> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Registered</strong></span> <span class="pull-right_details">{{farmerDetails?.createdDate | date:"dd-MM-yy HH:mm a"}}</span></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Updated</strong></span> <span class="pull-right_details">{{farmerDetails?.lastModifiedDate | date:"dd-MM-yy HH:mm a"}}</span></li>
        
      </ul> 
      <ul class="list-group">
        <li class="list-group-item text-right"><span class="pull-left"></span> <span class="pull-right-button "><button>edit</button></span> <div class="expandable form-group text-center" style="margin-top:30px; width:100%" data-count="1">
        <!--<div class="row">
    	    <input name="name[]" type="text" id="name[]"  placeholder="Allergia">
		    <button class="btn add-more" id="add-more" type="button">+</button>
     </div>-->
   </div></li>


 </ul> 


</div><!--/col-3-->
<div class="col-sm-9">

 <div>
  <h2>Farms Owned </h2>
  <a [routerLink]="['/farm/new']" [queryParams]="{farmerId:farmerDetails.id}"><button  class="btn btn-default btn-rounded pull-right" style="cursor:pointer" title="Add Farms" type="button"><i aria-hidden="true" class="fa fa-plus"></i></button></a>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div class="table-responsive">
      <p *ngIf="!farmerDetails.farms" colspan="7"> There are No farms owned by this farmer. </p>
      <table *ngIf="farmerDetails.farms" class="table table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Farm Name</th>
            <th>Size </th>
            <th>Registration</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="items">


          <tr [hidden]='!f.createdDate' data-toggle="collapse" data-target="#demo1" class="accordion-toggle " *ngFor="let f of farmerDetails.farms; let i = index">
            <td>{{i+1}}</td>
            <td>{{f.name}}
              <a target="_blank" href="http://maps.google.com/?q={{f.latitude}},{{f.longitude}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
            </td>
            <td>{{f?.size}} Acres</td>
            <td>{{f?.createdDate | date:"dd-MM-yy HH:mm a"}}</td>
            <td>
              <i *ngIf="(f?.status ==='ACTIVE')" class="fa fa-check-square-o" aria-hidden="true">
               
              </i>
              <i *ngIf="!(f?.status ==='ACTIVE')"class="fa fa-times" aria-hidden="true"></i>
            </td>
            <td *ngIf="f"><a [routerLink]="['/farm/new']" [queryParams]="{id:f.id}">
              <button class="btn btn-primary btn-xs" data-title="Edit"><i aria-hidden="true" class="fa fa-pencil-square-o"></i></button></a>&nbsp;&nbsp;
              <button class="btn btn-danger btn-xs" data-title="Disable" ng-reflect-klass="btn btn-danger btn-xs" (click)="delete(f.id)"><i aria-hidden="true" class="fa fa-ban"></i></button></td>
            </tr>
          </tbody>
          
        </table>
        <hr>
        <div class="row">
          <div class="col-md-6 col-md-offset-4 text-center">
           <ul class="pagination" id="myPager"></ul>
         </div>

       </div>
     </div><!--/table-resp-->

     <div id="edit" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Modifica dati per (servizio)</h4>
          </div>
          <div class="modal-body">
           <input id="fn" type="text" class="form-control" name="fname" placeholder="Prodotti utilizzati">
           <input id="ln" type="text" class="form-control" name="fname" placeholder="Colori Utilizzati">
           <input id="mn" type="text" class="form-control" name="fname" placeholder="Note">
         </div>
         <div class="modal-footer">
          <button type="button" id="up" class="btn btn-success" data-dismiss="modal">Aggiorna</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <hr>

</div><!--/tab-pane-->

</div><!--/tab-content-->

</div><!--/col-9-->
</div><!--/row-->
