
<div class="col-md-9 center"
[hidden]="!loading">
<h4>Loading farm details...</h4>
</div>

<div class="col-md-9 center" [hidden]="loading" *ngIf="farm">

	<div class="ui-helper-clearfix" style="width:100%">
		<a [routerLink]="['/farm/edit']" [queryParams]="{id:farm.id}"><button type="button" class="btn btn-primary" icon="fa fa-plus" style="float:left"  label="Edit this farm"> Edit this farm</button></a>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Farm ID</th>
					<th>Farm Name</th>
					<th>Size </th>
					<th>Registration</th>
					<th>Last Modified</th>
					<th>Status</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody id="items">

				<tr>
					<td>{{farm.id}}</td>
					<td>{{farm.name}}</td>
					<td>{{farm.size}} Acres</td>
					<td>{{farm.createdDate | date:"dd-MM-yy HH:mm a"}}</td>
					<td>{{farm.lastModifiedDate | date:"dd-MM-yy HH:mm a"}}</td>
					<td> {{farm.status}}
						<i *ngIf="(farm.status ==='ACTIVE')" class="fa fa-check-square-o" aria-hidden="true">

						</i>
						<i *ngIf="!(farm.status ==='ACTIVE')"class="fa fa-times" aria-hidden="true"></i>
					</td>
					<td><a target="_blank" href="http://maps.google.com/?q={{farm.latitude}},{{farm.longitude}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
						{{farm.latitude}} , {{farm.longitude}}
					</td>
							<!-- <td><a [routerLink]="['/farm/new']" [queryParams]="{id:farm.id}">
							<button class="btn btn-primary btn-xs" data-title="Edit"><i aria-hidden="true" class="fa fa-pencil-square-o"></i></button></a>&nbsp;&nbsp;<button class="btn btn-danger btn-xs" data-title="Disable" ng-reflect-klass="btn btn-danger btn-xs" ng-reflect-ng-class="[object Object]"><i aria-hidden="true" class="fa fa-ban"></i></button></td> -->
				</tr>

			</tbody>

		</table>

	</div><!--/table-resp-->
	
	<agm-map 
	      [latitude]="farm.latitude"
	      [longitude]="farm.longitude"
	      [zoom]="zoom"
	      [disableDefaultUI]="false"
	      [zoomControl]="true">
	      <agm-marker [latitude]="farm.latitude" [longitude]="farm.longitude" [label]="farm.name"></agm-marker>

	</agm-map>
</div>