
		<div class="container">
			<div class="row ">  
			  <div class="col-md-12">
			  		<div *ngIf="success" class="alert alert-success" role="alert">{{success == true?msg:""}}</div>
			  		<div *ngIf="error" class="alert alert-danger" role="alert">{{error == true?msg:""}}</div>
				 <div *ngIf="editFormOpen" class="row ">  
				 	
				  	<div  class="col-md-8" style="margin: auto">
			                            
			            <form [formGroup]="farmersForm" novalidate  name="farmersForm" class="form-horizontal" (ngSubmit)="addFarmer()" >
			                <div class="panel panel-default">
			                    <div class="panel-body">
			                        <h3 [hidden]="editFormOpen && addFarmerForm"><span class="fa fa-pencil"></span>Edit Farmer  Profile</h3>
			                        <h3 [hidden]="editFormOpen && !addFarmerForm"><span class="fa fa-pencil"></span>Add Farmer</h3>
			                                    
			                            <!--<p>This information farmer details </p>
			                           	 <p>Form value: {{ farmersForm.value | json }}</p>
										<p>Form status: {{ farmersForm.status | json }}</p> -->
			                                </div>
			                                <div class="panel-body form-group-separated">
			                                  
			                                    <div  class="form-group">
									                <label  class="col-md-3 col-xs-5 control-label">First Name</label>
									                <div  class="col-md-9 col-xs-7">
									                  	<div  class="input-group">
									                    	<span  class="input-group-addon">
									                    		<i  class="fa fa-tag"></i>
									                    	</span>
									                    	<input  autofocus="" class="form-control" formControlName="firstName" placeholder="eg. John" type="text"   required minlength="1" maxlength="50" >
									                  	</div>
									                  
														<small  class="text-danger" translate="" [hidden]="farmersForm.controls.firstName.valid || farmersForm.controls.firstName.untouched">
										                         Your first name is required
										                </small>
									              	</div>
									            </div>
												<div  class="form-group">
									                <label  class="col-md-3 col-xs-5 control-label">Last Name</label>
									                <div  class="col-md-9 col-xs-7">
									                  	<div  class="input-group">
									                    	<span  class="input-group-addon">
									                    		<i  class="fa fa-tag"></i>
									                    	</span>
									                    	<input  autofocus="" class="form-control"  formControlName="lastName" name = "lastName" placeholder="eg. Doe" type="text"   required minlength="1" maxlength="50" >
									                  	</div>
									                  
														<small  class="text-danger" translate="" [hidden]="farmersForm.controls.lastName.valid || farmersForm.controls.lastName.untouched">
										                         Your last name is required
										                </small>
									              	</div>
									            </div>
												<div  class="form-group">
									                <label  class="col-md-3 col-xs-5 control-label">Phone</label>
									                <div  class="col-md-9 col-xs-7">
									                  	<div  class="input-group">
									                    	<span  class="input-group-addon">
									                    		<i  class="fa fa-tag"></i>
									                    	</span>
									                    	<input  autofocus="" class="form-control"  formControlName="phoneNumber" name = "phoneNumber" placeholder="eg. +254721234567" type="text"   required minlength="1" maxlength="50" >
									                  	</div>
									                  
														<small  class="text-danger" translate="" [hidden]="farmersForm.controls.phoneNumber.valid || farmersForm.controls.phoneNumber.untouched">
										                        please enter your phone number correctly
										                </small>
									              	</div>
									            </div>
									            <div class="form-group">
												  <label  class="col-md-3 col-xs-5 control-label">Country</label>
												  <div  class="col-md-9 col-xs-7">
									                  	<div  class="input-group">
															<select class="form-control" id="sel1" formControlName="countryOfResidence" name = "countryOfResidence" >
															    <option [selected]=""  value="">--chose country--</option>
															    <option [selected]="farmersForm.value.countryOfResidence==='Kenya'"  value="Kenya">Kenya</option>
															    <option  [selected]="farmersForm.value.countryOfResidence==='Nigeria'" value="Nigeria">Nigeria</option>
															 </select>
															</div>
															<small  class="text-danger" translate="" [hidden]="farmersForm.controls.countryOfResidence.valid || farmersForm.controls.countryOfResidence.untouched">
										                         please enter your country of origin correctly
										                </small>
														</div>
												</div>
									            
												<!--<div  class="form-group">
									                <label  class="col-md-3 col-xs-5 control-label">Email</label>
									                <div  class="col-md-9 col-xs-7">
									                  	<div  class="input-group">
									                    	<span  class="input-group-addon">
									                    		<i  class="fa fa-tag"></i>
									                    	</span>
									                    	<input   autofocus="" class="form-control"  formControlName="email" name = "email" placeholder="eg. example@email.com" type="email"   required minlength="1" maxlength="50" email >
									                  	</div>
									                  
														<small  class="text-danger" translate="" [hidden]="farmersForm.controls.email.valid || farmersForm.controls.email.untouched">
										                         please enter your email correctly
										                </small>
									              	</div>
									            </div> -->
												
			                                    
			                                    <!--<div class="form-group">
			                                        <label class="col-md-3 col-xs-5 control-label">Account Status</label><span >
			                                       
													

			                                            <input value="1" style="display:inline; width:inherit"   formControlName="status" name="status" class="form-control" type="checkbox" >
			                                            <input type="hidden" name="status" value="0" />
			                                        </span><span>{{(status===true)? "Active":"Deactivated"}}</span>
			                                        
			                                    </div> -->                                        
			                                    <div class="form-group">
			                                        <div class="col-md-9 col-xs-7">
			                                            
			                                            <button style=" margin-left: 10px" class="btn btn-default btn-rounded pull-right" (click)=toggleForm(false)>Cancel</button> 
			                                            <button [hidden]="editFormOpen && addFarmerForm" name="save" type="submit" (click)=updateFarmer(farmer) class="btn btn-primary btn-rounded pull-right">Save</button>
			                                            <button [hidden]="editFormOpen && !addFarmerForm" name="save" type="button"  (click)=addFarmer(farmer) class="btn btn-primary btn-rounded pull-right" [disabled]="farmersForm.status!=='VALID'">Submit</button>
			                                        </div>
			                                </div>
			                            </div>
			                    </div>
			                </form>
			            </div>
			        </div>
									<!--Farmers Table -->
				<div *ngIf="!editFormOpen" class="row ">
					<div class="col-md-12">
						<br>
						<br>
						<br>
						<h2 class="col-md-9 col-xs-7">Farmers <button title="Add Farmer" style="cursor:pointer" type="button" class="btn btn-default btn-rounded pull-right" (click) = "addNewFarmerForm(farmer)"><i class="fa fa-plus" aria-hidden="true"></i></button></h2>
						<br>
						<br>
					</div>
				
						<div class="col-md-12">
						<div>Search by: <select name="search" id="">
							<option value="0"> </option>
							<option value="1">Name</option>
							<option value="2">email</option>
						</select> <input type="text" value="" name="searchFarmer"> <button type="Button" class="btn btn-primary btn-rounded" name="Search">Search</button> </div>
						<br>
						<br>
						<br>
									<table class="table table-striped table-responsive" *ngIf="farmers" >
									  	<tr>
									  		<th>ID.</th>
									  		<th>Name</th>
									  		<th>Phone</th>
									  		<th>Country</th>
									  		<th>Registration Date</th>
									  		<th>Actions</th>
									  	</tr> 
									 		<tr *ngIf="farmers.length===0" >
												<td colspan="6" style="margin:auto;text-align: center;padding:30px">There are no farmers Available</td>
											</tr>
											<tr *ngFor="let farmer of farmers; let i = index " [hidden]="!farmers">
												<td>{{i+1}}</td>


												<td><a [routerLink]="['/farmerdetails',farmer.id]">{{farmer.firstName+" "+farmer.lastName}} </a></td>
												
												<td> <a href="tel:{{farmer.phoneNumber}}" >{{farmer.phoneNumber}}</a></td>
												
												<td>{{farmer.countryOfResidence}}</td>
												<td>{{farmer.createdDate | date}}</td>
												<td>
													<button title="Edit" style="cursor:pointer" type="button" class="btn btn-primary" (click) = "editFarmer(farmer)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
													&nbsp;&nbsp;&nbsp;
													<button type="button" (click)= deleteFarmer(farmer)  style="cursor:pointer" class="btn btn-danger" title="Delete">
													<i class="fa fa-trash-o" aria-hidden="true"></i>
													</button>
												</td> 
											</tr>
											
									  	
									</table>


									</div>
									
				                  <div class="col-md-7 col-md-offset-3  text-left">
				                  	<button *ngIf='isLoadMore' (click)="loadMore()" type="button" class="btn btn-primary">See More</button>
				                  </div>
                
									</div>


			                        </div>
			                    </div>
			                    <br>
			                    <br>
			                    <br>
			                   </div>
	
