	<div *ngIf="fc.success" class="alert alert-success" role="alert">{{fc.success == true?fc.msg:""}}</div>
			  		<div *ngIf="fc.error" class="alert alert-danger" role="alert">{{fc.error == true?fc.msg:""}}</div>
				<div *ngIf="fc.editFormOpen" class="row ">  
				 	<div  class="col-md-8" style="margin: auto">
			                            
			            <form #farmersForm="ngForm" name="farmersForm" class="form-horizontal" >
			                <div class="panel panel-default">
			                    <div class="panel-body">
			                        <h3 [hidden]="fc.editFormOpen && fc.addFarmerForm"><span class="fa fa-pencil"></span>Edit Farmer  Profile</h3>
			                        <h3 [hidden]="fc.editFormOpen && !fc.addFarmerForm"><span class="fa fa-pencil"></span>Add Farmer</h3>
			                                    
			                            <p>This information farmer details </p>
			                                </div>
			                                <div class="panel-body form-group-separated">
			                                    <div class="form-group">
			                                        <label for ="firstname"  class="col-md-3 col-xs-5 control-label">First Name</label>
			                                        <div class="col-md-9 col-xs-7">
			                                            <input value="" [(ngModel)]="firstname" name = "firstname" class="form-control" type="text" required minlength="5" maxlength="30" >
			                                        </div>
			                                        <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)"
													     class="alert alert-danger">
													    <div [hidden]="!firstname.errors.required">
													      Name is required
													    </div>
													    <div [hidden]="!firstname.errors.minlength">
													      Name must be at least 4 characters long.
													    </div>
													    <div [hidden]="!firstname.errors.maxlength">
													      Name cannot be more than 24 characters long.
													    </div>
													</div>
			                                    </div>
			                                    <div class="form-group">
			                                        <label class="col-md-3 col-xs-5 control-label">Last Name</label>
			                                        <div class="col-md-9 col-xs-7">
			                                            <input value="" [(ngModel)]="lastname" name = "lastname" class="form-control" type="text" required minlength="5" maxlength="30">
			                                        </div>
			                                    </div>
			                                    <div class="form-group">
			                                        <label class="col-md-3 col-xs-5 control-label">Email</label>
			                                        <div class="col-md-9 col-xs-7">
			                                            <input value=""  [(ngModel)]="email" name="email" class="form-control" type="text" required minlength="5" maxlength="30">
			                                        </div>
			                                    </div>
			                                    <div class="form-group">
			                                        <label class="col-md-3 col-xs-5 control-label">Phone</label>
			                                        <div class="col-md-9 col-xs-7">
			                                            <input value=""  [(ngModel)]="phone" name="phone" class="form-control" type="text" required minlength="9" maxlength="15">
			                                        </div>
			                                    </div>
			                                    <div class="form-group">
			                                        <label class="col-md-3 col-xs-5 control-label">Account Status</label><span >
			                                       
													

			                                            <input value="1" style="display:inline; width:inherit"  [(ngModel)]="status" name="status" class="form-control" type="checkbox" >
			                                            <input type="hidden" name="status" value="0" />
			                                        </span><span>{{(status===true)? "Active":"Deactivated"}}</span>
			                                        
			                                    </div>
			                                    <div *ngIf="false" class="form-group">
			                                        <label class="col-md-3 col-xs-5 control-label" >Registration Date</label>
			                                        
			                                           <div class="col-md-9 col-xs-7">
			                                            <input value="{{date}}"  name="date"  [(ngModel)]="date" class="form-control" type="text" required>
			                                        </div>
			                                    </div>                                          
			                                    <div class="form-group">
			                                        <div class="col-md-9 col-xs-7">
			                                            
			                                            <button style=" margin-left: 10px" class="btn btn-default btn-rounded pull-right" (click)=toggleForm(false)>Cancel</button> 
			                                            <button [hidden]="editFormOpen && addFarmerForm" name="save" type="submit" (click)=updateFarmer(farmer) class="btn btn-primary btn-rounded pull-right">Save</button>
			                                            <button [hidden]="editFormOpen && !addFarmerForm" name="save" type="submit"  (click)=addFarmer(farmer) class="btn btn-primary btn-rounded pull-right">Submit</button>
			                                        </div>
			                                </div>
			                            </div>
			                    </div>
			                </form>
			            </div>
			        </div>