<div class="login-container bg-faded">
  <div class="login-box">
    <h3 translate>APP_NAME</h3>
    <div>
      <h6 class="d-inline-block">v{{version}}</h6>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-block">
          <h5 class="card-title text-center">
            <i class="fa fa-3x fa-user-circle-o text-muted"></i>
          </h5>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
              Email or password incorrect.
            </div>
            <div class="form-group">
              <label class="d-block">
                <input [(ngModel)]="model.email" type="text" class="form-control" formControlName="email"
                       [placeholder]="'Email' | translate"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autofocus />
                <span hidden translate>Email</span>
                <small [hidden]="loginForm.controls.email.valid || loginForm.controls.email.untouched"
                       class="text-danger" translate>
                  Valid Email is required
                </small>

              </label>
              <label class="d-block">
                <input [(ngModel)]="model.password" type="password" class="form-control" formControlName="password"
                       [placeholder]="'Password' | translate" required/>
                <span hidden translate>Password</span>
                <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                       class="text-danger" translate>
                  Password is required
                </small>
              </label>
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="remember"/>
                <span translate>Remember me</span>
              </label>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <button class="btn btn-primary" type="submit" translate [disabled]="loginForm.invalid || isLoading">
                  <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
                  <span translate>Login</span>
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>

          </form>
          <div>
            <span>Don't have an Account?<a [routerLink]="['/register']" class="btn btn-link">Register here!</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
