@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

// .login-container {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid $brand-danger;
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
