<footer class="footer">
  <div class="container">
    <a class="logo-font" routerLink="/">Farm App</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      An interactive learning App for farmers. By <a href="https://www.incentro.com/nl/">Incentro</a>.
    </span>
  </div>
</footer>
