<div class="col-md-12 center"
  [hidden]="!loading">
  Loading farms...
</div>

<div class="ui-helper-clearfix" style="width:100%">
	<a [routerLink]="['/farm/new']"><button type="button" class="btn btn-primary" icon="fa fa-plus" style="float:left"  label="Add"> Add Orphan Farm</button></a>
</div>
<div class="col-md-12 center" [hidden]="loading || farms.length >= 1">
  <h4>There are no farms yet.</h4>
  <div class="ui-helper-clearfix" style="width:100%">
  	<a [routerLink]="['/farm/new']"><button type="button" class="btn btn-primary" icon="fa fa-plus" style="float:left"  label="Add"> Add Orphan Farm</button></a>
  </div>
</div>

<div class="col-md-12 center" *ngIf="farms || farms.length < 1">

	<h4>All Farms</h4>

	<div class="table-responsive">
		<table id="mytable" class="table table-bordered table-striped">

			<thead>
				<th>Index</th>
				<th>Farm Name</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Size (Acres)</th>
				<th>Date Registered</th>
				<th>Farm Status</th>
				<th>Edit</th>
				<th>Disable</th>
			</thead>
			<tbody>

				<tr *ngFor="let farm of farms; let idx = index">
					<td *ngIf="farm">{{idx+1}}</td>
					<td *ngIf="farm"> <a [routerLink]="['/farm/details',farm.id]">{{farm.name}}</a></td>
					<td *ngIf="farm">{{farm.latitude}}</td>
					<td *ngIf="farm">{{farm.longitude}}</td>
					<td *ngIf="farm">{{farm.size}}</td>
					<td *ngIf="farm">{{farm.createdDate | date:"dd-MM-yy"}}</td>
					<td *ngIf="farm">{{farm.status}}</td>
					<td *ngIf="farm"><a [routerLink]="['/farm/edit']" [queryParams]="{id:farm.id}"><button class="btn btn-primary btn-xs" data-title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a></td>
					<td *ngIf="farm"><button class="btn btn-danger btn-xs" data-title="Disable" (click)="delete(farm)" [ngClass]="{disabled: isDeleting}"><i class="fa fa-ban" aria-hidden="true"></i></button></td>
				</tr>

			</tbody>

		</table>

		<div class="clearfix"></div>

		<div [hidden]="loading || !moreFarms">
			<button class="btn btn-primary" (click)="getNext()">
				Load more Farms
			</button>
		</div>
<!-- 		<nav [hidden]="loading || totalPages <= 1">
		  <ul class="pagination">

		    <li class="page-item"
		      [ngClass]="{'active': pageNumber === currentPage}"
		      *ngFor="let pageNumber of totalPages"
		      (click)="setPageTo(pageNumber)">

		      <button type="button" cursor="pointer" class="btn btn-primary page-link">{{ pageNumber }}</button>

		    </li>

		  </ul>
		</nav> -->

	</div>

</div>