<div class="auth-main  bg-faded">
  <div class="auth-block">
    
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">

        <div class="card-block">
          <h5 class="card-title text-center">
          <h3>{{title}}</h3>
         </h5>

         <div class="col-sm-12"> 
          <form class="form-horizontal " [formGroup]="form" novalidate (ngSubmit)="save()">
            <fieldset>

              <!-- Farm Name -->
              <div class="form-group">
                <label class="col-md-6 control-label">Farm Name</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                    <input  [(ngModel)]="farm.name" formControlName="name" placeholder="Farm Name" class="form-control" type="text" required autofocus>
                  </div>
                     <small [hidden]="form.controls.name.valid || form.controls.name.untouched"
                  class="text-danger" translate>
                         Please a Farm name - at least 4 letters long.
                      </small>
                </div>
              </div>

              <!-- Tex22t input-->
              <div class="form-group">
                <label class="col-md-6 control-label">County</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dot-circle-o"></i></span>
                    <select  class="form-control" required [(ngModel)]="farm.county" formControlName="county" ng-options="ct.code as ct.name for ct in counties">
                       <option *ngFor="let ct of counties" [value]="ct.name" [selected]="ct?.name ===farm?.county">{{ct.name}}</option>
                    </select> 
                  </div>
                </div>
              </div>

              <!-- Farm Latitude -->
              <div class="form-group">
                <label class="col-md-6 control-label">Latitude</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input [(ngModel)]="farm.latitude" formControlName="latitude" placeholder="Latitude" class="form-control" type="text" required>
                    </div>
                    <small [hidden]="form.controls.latitude.valid || form.controls.latitude.untouched"
                   class="text-danger" translate>
                          Please enter a valid latitude coordinate.
                       </small>
                </div>
              </div>

                <!-- Farm Longitude -->
                <div class="form-group">
                  <label class="col-md-6 control-label">Longitude</label>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                      <input [(ngModel)]="farm.longitude" formControlName="longitude" placeholder="Longitude" class="form-control" type="text" required>
                      </div>
                        <small [hidden]="form.controls.longitude.valid || form.controls.longitude.untouched"
                     class="text-danger" translate>
                            Please enter a valid longitude coordinate.
                         </small>
                  </div>
                </div>
            
              <!-- Farm Size -->
              <div class="form-group">
                <label class="col-md-6 control-label">Size (Acres)</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                    <input [(ngModel)]="farm.size" formControlName="size" placeholder="Farm Size Acres" class="form-control" type="text" required>
                    </div>
                      <small [hidden]="form.controls.size.valid || form.controls.size.untouched"
                     class="text-danger" translate>
                            Please enter a valid farm size.
                         </small>
                </div>
              </div>
              
              <!-- Farm Status -->
              <div class="form-group">
                <label class="col-md-6 control-label">Status</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dot-circle-o"></i></span>
                    <select  class="form-control" required [(ngModel)]="farm.status" formControlName="status" >
                       <option *ngFor="let ct of stati" 
                            [ngValue]="ct.option"   
                           >{{ct.option}}</option>
                    </select> 
                  </div>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-6 control-label"></label>
                <div class="col-md-6">

                  <button type="submit" class="btn btn-info" [disabled]="!form.valid" >
                  <i class="fa fa-cog fa-spin" [hidden]="!loading"></i>
                <span translate>{{label}}</span>
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                  </button>
                </div>
              </div>

            </fieldset>

          </form>
          
        </div>
      </div>
    </div>
  </div>

</div>
</div><!-- /.container -->
