<div class="auth-main  bg-faded">
  <div class="auth-block">
    <h3>Sign up to Farm App</h3>
    <a routerLink="/login" class="auth-link">Already have an admin account? Sign in!</a>
    
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">

        <div class="card-block">
          <h5 class="card-title text-center">
           <i class="fa fa-3x fa-user-circle-o text-muted"></i>
          </h5>


        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">

          <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
              <input [(ngModel)]="model.email" formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
            <small [hidden]="form.controls.email.valid || form.controls.email.untouched"
                   class="text-danger" translate>
              A valid Email is required
            </small>
            </div>
          </div>

          <div class="form-group row" >
            <label for="inputphone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
            <ngx-intl-tel-input required [(value)]="phone_number" [preferredCountries]="preferredCountries"></ngx-intl-tel-input>
            </div>
          </div>

          <div formGroupName="passwords">
            <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
              <label for="inputPassword" class="col-sm-2 control-label">Password</label>

              <div class="col-sm-10">
                <input [(ngModel)]="model.password" formControlName="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                <small [hidden]="password.valid || password.untouched"
                       class="text-danger" translate>
                  A valid Password is required
                </small>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
              <label for="inputPassword4" class="col-sm-2 control-label">Repeat</label>

              <div class="col-sm-10">
                <input formControlName="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Repeat">
                <small *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="text-danger">Passwords don't match.</small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
                <i class="fa fa-cog fa-spin" [hidden]="!loading"></i>
                <span translate>Register</span>
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
        </div>  
      </div>
      </div>

<!--     <div class="auth-sep"><span><span>or Sign up with one click</span></span></div>

    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="fa fa-facebook-official" aria-hidden="true" title="Share on Facebook"></i></li>
        <li><i class="fa fa-twitter-square" aria-hidden="true" title="Share on Twitter"></i></li>
        <li><i class="fa fa-google" aria-hidden="true" title="Share on Google Plus"></i></li>
      </ul>
    </div> -->
  </div>
</div>
